<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap4 %}
  <head>
    <style>
      h1 {
        background-color: rgb(171, 201, 201);
        text-shadow: 2px 2px 5px blueviolet;
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Bike Homepage{% endblock %}</title>
    <link rel = "icon" href =  "/media/logo.png" type = "image/x-icon">
    
    <h1 id="site-name">
      <a href="{% url 'admin:index' %}">
          <img src="/media/logo.png" height="40px" />BikeVale
      </a>
    </h1>
    <link href="{% static "bike/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "bike/css/shop-homepage.css" %}" rel="stylesheet">
  </head>

  <body style="background-color:grey;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url "bike:home" %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url "bike:signout" %}">Sign Out</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url "bike:signin" %}">Sign In</a>
                            <a class="dropdown-item" href="{% url "bike:signup" %}">Signup</a>
                        {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "bike:checkout" %}">Checkout</a>
                    </div>
                </li>
          </ul>

            <form class="form-inline my-2 my-lg-0 mr-4" action="{% url 'bike:search' %}">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Enter here" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="/mycart" class="btn btn-success">🛒{{ request.session.data.count }} Item{{ request.session.data.count|pluralize }}</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">BikeVale Shop</h1>
          <div class="list-group" style="background-color:grey;">
              {% for c in categories %}
                  <a href="{% url "bike:categories" c.slug %}" class="list-group-item">{{ c.name }}</a>
              {% endfor %}
          </div>

        </div>

        <div class="col-lg-9 mt-3">
        {% bootstrap_messages %}

        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>

    <script src="{% static "bike/js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "bike/js/bootstrap.min.js" %}" type="text/javascript"></script>

  </body>

</html>
